body {
    background-color: #eee;
}

.detail-box {
    width: 960px;
    margin: 20px auto;
    background-color: #f9f9f9;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    overflow: hidden;
}

.col {
    float: left;
}

.detail-box .col.s12 {
    width: 100%;
}

.detail-box .col.s6 {
    width: 50%;
    padding: 20px;
}

.path {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 14px;
}

.path a {
    color: #999;
    cursor: pointer;
    padding: 0 5px;
    text-decoration: none;
}

.item-price {
    font-size: 20px;
    padding: 10px;
    color: #EF5350;
    font-weight: 700;
    margin: 0;
}

.item-name {
    font-size: 24px;
    padding: 10px;
    font-weight: 500;
    margin: 0;
}

.info {
    overflow: hidden;
}

.info p {
    float: left;
    font-size: 16px;
    padding: 10px;
    margin: 0;
}

.publisher-info-title {
    color: #aaa;
    padding: 10px;
}

.publisher-info-title hr {
    border: none;
    border-top: 1px solid;
    width: 200px;
    height: 1px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.contact div {
    overflow: hidden;
    padding: 10px;
}

.attr {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    float: left;
    color: #fff;
}

.base-blue {
    background-color: #0bb9f8!important;
}

.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.attr i {
    font-size: 25px;
    line-height: 18px;
}

.value {
    font-weight: bold;
}

.item-pub-time {
    padding: 10px;
    font-size: 14px;
    color: #999;
}

.status {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 55.5px;
    height: 55.5px;
    background-color: #00bfa5!important;
    color: #fff;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    padding: 0;
}

.status a {
    color: #fff;
    text-decoration: none;
}

.not-login {
    padding: 30px 20px 150px;
    font-size: 20px;
}

.not-login a {
    color: #EF5350;
    text-decoration: none;
}


/*详情面板*/

.detail-box .title {
    padding: 10px 10px 10px 20px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

hr {
    margin: 0;
    height: 1px;
}

.hr1 {
    border: none;
    border-top: 5px solid #0bb9f8;
    width: 110px;
    display: inline-block;
    margin-left: 10px;
}

.hr2 {
    display: inline-block;
    width: 830px;
    border: none;
    border-top: 2px solid #d9d9d9;
}

.detail-box .section {
    line-height: 25px;
    margin: 0;
}

.detail-box>p {
    padding: 10px 20px;
    font-size: 16px;
}


/*评论*/

em {
    font-style: normal;
}

.comment-pane {
    padding: 20px;
    font-size: 16px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
}

.comment-author {
    color: #0bb9f8;
}

.comment-time {
    margin-top: 8px;
    font-size: 14px;
    color: #999;
}

a.reply {
    float: right;
    color: #f9f9f9;
}

.comment-pane:hover a.reply {
    color: #0bb9f8;
}

.comment-add {
    padding: 20px 200px;
    overflow: hidden;
}

.comment-input {
    margin-top: 1em;
    float: right;
    width: 92%;
}

.send {
    margin-top: 1em;
    float: right;
}