{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="../static/detail.css">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_vrjuwinndrou5wmi.css" {% endblock %} {% block content %} <div class="contentr" style="padding-top: 64px">
<div class="detail-box">
    <div class="col s12 path"><a href="/category/{{item.type}}">{{ item.type }}</a><em>&gt;</em><a>{{ item.name }}</a>
        <a style="float: right;margin-right: 20px;">浏览量 {{ item.clitime }}</a>
    </div>
    <div class="col s6">
        <div>
            {% if item.image %}
            <img src="{{ item.image }}" height="440" width="440"> {% else %}
            <img src="http://localhost:5000/static/img/yellow.jpeg" height="440" width="440"> {% endif %}
        </div>
    </div>
    <div class="col s6">
        <h1 class="item-name">{{ item.name }}</h1>
        <h2 class="item-price">￥{{ item.price }}</h2>
        <div class="info">
            <p class="discount"> {% if item.discount == 1 %} 可讲价 {% else %} 不可讲价 {% endif %}</p>
            <p>
                <i class="iconfont icon-location"></i>
                <em class="location"> {{ item.location }} </em>
            </p>
        </div>
        <div class="publisher-info-title">
            <em>卖家信息</em>
            <hr>
        </div>
        <div class="contact">
            {% if current_user.is_authenticated %}
            <div>
                <div class="base-blue z-depth-1 attr"><i class="iconfont icon-user"></i></div>
                <div class="value">{{ item.author.username }}</div>
            </div>
            <div>
                <div class="base-blue z-depth-1 attr"><i class="iconfont icon-phone"></i></div>
                <div class="value">{{ item.author.phonenum }}</div>
            </div>
            {% if item.wechatnum %}
            <div>
                <div class="base-blue z-depth-1 attr"><i class="iconfont icon-wechat"></i></div>
                <div class="value">{{ item.wechatnum }}</div>
            </div>
            {% endif %} {% if item.qqnum %}
            <div>
                <div class="base-blue z-depth-1 attr"><i class="iconfont icon-qq"></i></div>
                <div class="value">{{ item.qqnum }}</div>
            </div>
            {% endif %} {% else %}
            <p class="not-login"> <a href="{{url_for('login')}}">登录</a>或<a href="{{url_for('register')}}">注册</a>后查看联系信息</p>
            {% endif %}
        </div>
        <h1 class="item-pub-time">发布于 {{ moment(item.timestamp).format('YYYY-MM-DD HH:MM:SS') }}</h1>
        {% if current_user == item.author %} {% if item.status == 1 %}
        <button class="btn status z-depth-1">已售出</button> {% else %}
        <button class="btn status z-depth-1"><a href="{{ url_for('.modify', id=item.id) }}">修改</a></button> {% endif %} {% endif %}
    </div>
</div>

<div class="detail-box">
    <h1 class="title">商品详情</h1>
    <hr class="hr1">
    <hr class="hr2">
    <p class="section">{{ item.description }}</p>
    <p class="section">联系我的时候，请说明是在中大二手工坊看见的哦~</p>
</div>

<div class="detail-box">
    <h1 class="title">评论</h1>
    <hr class="hr1">
    <hr class="hr2"> {% for comment in comments %}
    <div class="comment-pane">
        <em class="comment-author">{{ comment.author.username }}：</em>{% if comment.reciver %}
        <em class="comment-body">回复</em>
        <em class="comment-author">@{{ comment.reciver }}：</em>{% endif %}
        <em class="comment-body">{{ comment.body }}</em>
        <div>
            <em class="comment-time"> {{ moment(comment.timestamp).format('YYYY-MM-DD HH:MM:SS') }}</em> {%if current_user.is_authenticated %} {% if current_user == comment.author %}
            <a class="reply" href="/delete-comment/{{comment.id}}">删除</a> {% else %}
            <a class="reply" onclick="showform({{comment.id}})" href="javascript:void(0)">回复</a> {% endif %}{% endif %}
        </div>
        <form style="display: none" id="form{{comment.id}}" name="form" enctype="multipart/form-data" method="POST"> {{ form.hidden_tag() }}
            <div class="comment-add">
                <i class="iconfont icon-message" style="float:left;font-size: 4rem;"></i>
                <input type="text" class="form-control comment-input" name="body" required="" placeholder="这里写下评论～">
                <input type="text" style="display: none" name="reciver" value="{{comment.author.username}}">
                <button type="submit" href="#" class="btn btn-primary pull-center send"><i class="iconfont icon-send"></i> 提交评论</button>
            </div>
        </form>
    </div>
    {% endfor %} {% if current_user.is_authenticated %}
    <form name="form" enctype="multipart/form-data" method="POST">
        {{ form.hidden_tag() }}
        <div class="comment-add">
            <i class="iconfont icon-message" style="float:left;font-size: 4rem;"></i>
            <input type="text" class="form-control comment-input" name="body" required="" placeholder="这里写下评论～">
            <button type="submit" href="#" class="btn btn-primary pull-center send"><i class="iconfont icon-send"></i> 提交评论</button>
        </div>
    </form>
    {% endif %}
</div>

</div>

<script>
    function showform(id) {
        if ($('#form' + id).css('display') == "none")
            $('#form' + id).show()
        else
            $('#form' + id).hide()
    }
</script>
{% endblock %}